body {
    background-color: #232323;
    margin: 0px;
}
#container {
    max-width: 600px;
    margin: 20px auto;
    min-height: 400px;
}
.square {
    width: 30%;
    float: left;
    margin: 1.66%;
    background-color: darkturquoise;
    padding-bottom: 30%;
    border-radius: 30%;
    transition: background 1.0s;
}
h1 {
    color: floralwhite;
    text-align: center;
    min-height: 100PX;
    padding: 10PX;
    font-weight: bold;
    background-color: indianred;
    margin-top: 0px;
    text-transform: uppercase;
}
h2 {
    font-weight: bold;
}
span {
    color: floralwhite;
}
#second {
    text-align: center;
    background: #ffbc13;
    min-height: 40px;
    padding-top: 10px;
}
.container-2 {
    max-width: 500px;
    min-height: 100px;
    background-color: #ffbc13;
    margin: 0 auto;
    text-align: center;
    color: honeydew;
}
p {
    font-size: 15px;
    font-weight: bold;
}
button {
    text-transform: uppercase;
    background-color: black;
    color: floralwhite;
    font-weight: bold;
    transition: all 0.5s;
}
#status {
    display: inline-block;
    width: 20%;
    text-transform: uppercase;
    font-weight: bold;
}
button:hover {
    color: black;
    background: floralwhite;
}